body {
  margin: 0px;
  font-family: Karla, Helvetica, sans-serif;
  letter-spacing: 0.7px;
}

/* Navigation Bar + Navigation IMG + LOGO */

.logo {
  opacity: 1;
  display: flex;
  height: 40px;
  width: 200px;
  background-color: #f26671;
  border: 10px double white;
  color: white;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logobar {
  padding-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.topnav {
  min-height: 40px;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 1);
  text-align: center;
  display: flex;
  justify-content: center;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.fa {
  color: #f26671 !important;
}

.dec_img {
  height: 55%;
  background-image: url("../static/colorfruit.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.find_title {
  color: #ff8806;
  font-family: HalisR-SBold, sans-serif;
  font-size: 48px;
  letter-spacing: 0.12em;
  padding: 15px;
  font-weight: 800;

  /*#fb9200*/
}

/* Hamburger menu */
@media screen and (max-width: 650px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* start Meagan's CSS */

.container {
  display: flex;
  flex-direction: row;
}

.filters {
  line-height: 25px;
}

.results {
  width: 90%;
  height: 100vh;
}

/* CSS for card flip 3D animation found at https://3dtransforms.desandro.com/card-flip */

.scene2 {
  perspective: 600x;
}

.flippingMap {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flippingMap__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.marketCardsFace--front {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.mapFace--back {
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}

.flippingMap.is-flipped {
  transform: rotateY(180deg);
}

/* market cards for filtered results, based on Marisa's homepage cards */

.cardBody {
  display: flex;
  flex-flow: column nowrap;
  padding: 17px;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  border: 3px dotted black;
}

/* CSS for card flip 3D animation found at https://3dtransforms.desandro.com/card-flip */

.scene {
  width: 200px;
  height: 80px;
  perspective: 600x;
}

.flippingCard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flippingCard__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.face--front {
  margin: auto;
  background-color: #f26671;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.face--back {
  margin: auto;
  background-color: #f26671;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 12px;
  transform: rotateY(180deg);
}

.flippingCard.is-flipped {
  transform: rotateY(180deg);
}

.infoButton {
  cursor: pointer;
  padding: 10px;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 500;
  text-align: center;
}

.ViewMapButton
{
  cursor: pointer;
  padding: 5px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 500;
  text-align: center;
}
/* Kavita's sidebar filter panel CSS */

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  /* top: 0; */
  left: 0;
  background-color: white;
  max-height: calc(100vh - 9rem);
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 45px;
  /* padding-left: 10px; */
}

.temp {
  /* height: 100%; Full-height: remove this if you want "auto" height */
  width: 0; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /* top: 0;  */
  padding-left: 5px;
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */

  transition: top 0.3s;
  /* padding-top: 20px; */
}
.closebtn {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.openbtn:focus {
  outline: 0;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#map {
  height: 100%;
  width: 100vh;
}

.mapFace--back
{
  height: 800px!important;
  width: 100vh !important;
}
